<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="../static/images/vertical_favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../static/landing.css">
    <title>Home Page - Vertical Limit Academy</title>
</head>
<body>
    <header>
        <div>
            <img src="../static/images/vla.png" alt="Vertical Limit Academy Logo" title="Vertical Limit Academy Logo">
        </div>

        <nav>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Academics</a>
            <a href="#">Admissions</a>
        </nav>

        <div class="cta">
            <a href="#"><i class="fa-solid fa-user-plus"></i> Apply Now</a>
            <a href="#"><i class="fa-solid fa-right-to-bracket"></i> Visit Us</a>
        </div>

        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="txt">
                <h6><i class="fa-solid fa-school"></i> Vertical Limit Academy</h6>
                <h1>Reach <span>Higher</span>. Become <span>More</span>.</h1>
                <p>At Vertical Limit Academy, we inspire students to push beyond limits, discover their strengths, and develop the skills needed to excel in academics, leadership, and life.</p>
                <div class="cta">
                    <a href="#"><i class="fa-solid fa-school"></i> Apply Now</a>
                    <a href="#"><i class="fa-solid fa-book"></i> Schedule a Visit</a>
                </div>
            </div>
        </section>

        <!-- <section class="welcome">
            <h3>Welcome to Vertical Limit Academy</h3>

            <div class="cont">
                <div class="txt">
                    <h4>About Us</h4>
                    <p>Vertical Limit Academy is a forward-thinking institution dedicated to academic excellence, character development, and innovation. We provide students with a supportive environment where curiosity is encouraged, talents are nurtured, and future leaders are developed.</p>
                    <a href="#">Learn More</a>
                </div>
                <div class="carousel">
                    <img class="odd" src="../static/images/image1.png" alt="">
                    <img class="even" src="../static/images/image2.png" alt="">
                    <img class="odd" src="../static/images/image3.png" alt="">
                    <img class="even" src="../static/images/image4.png" alt="">
                </div>
            </div>
        </section> -->
        
        <section class="pillars">
            <h4>Four Pillars Of VLA</h4>

            <div class="cards">
                <div class="card">
                    <h4>Academic Excellence</h4>
                    <p>Our classrooms are powered by strong teaching, structured systems, continuous assessments, and a culture of hard work.</p>
                    <a href="#">Learn More</a>
                </div>

                <div class="card">
                    <h4>Character & Leadership</h4>
                    <p>Every VLA student is trained to lead—with integrity, empathy, confidence, discipline, and responsibility.</p>
                    <a href="#">Learn More</a>
                </div>

                <div class="card">
                    <h4>Global Readiness</h4>
                    <p>Through competitions, digital skills, research, and exposure to global challenges, our students develop the mindset needed for a competitive world.</p>
                    <a href="#">Learn More</a>
                </div>

                <div class="card">
                    <h4>Innovation & Technology</h4>
                    <p>Here at VLA, we train our students in the use of AI and Tech. The world is gradually evolving towards the use of Artificial Intelligence and our kids are not left out on all the fun.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </section>

        <section class="glance">
            <div class="cont">
                <span class="desc">VLA AT A GLANCE</span>
                <h3>VLA at a Glance</h3>

                <div class="stats">
                    <div class="stat">
                        <h4>95%</h4>
                        <span>UNI ADMISSION</span>
                    </div>

                    <div class="stat">
                        <h4>10+</h4>
                        <span>Natl. Medals</span>
                    </div>

                    <div class="stat">
                        <h4>20+</h4>
                        <span>CLUBS</span>
                    </div>

                    <div class="stat">
                        <h4>1:1</h4>
                        <span>MENTORING</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="../static/app.js" defer></script>
</html>