<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../static/landing.css">
    <title>Home Page - Vertical Limit Academy</title>
</head>
<body>
    <header>
        <div>
            <img src="../static/images/vla.png" alt="Vertical Limit Academy Logo" title="Vertical Limit Academy Logo">
        </div>

        <nav>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Academics</a>
            <a href="#">Admissions</a>
        </nav>

        <div class="cta">
            <a href="#"><i class="fa-solid fa-user-plus"></i> Apply Now</a>
            <a href="#"><i class="fa-solid fa-right-to-bracket"></i> Visit Us</a>
        </div>

        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="txt">
                <h6><i class="fa-solid fa-school"></i> Vertical Limit Academy</h6>
                <h1>Reach <span>Higher</span>. Become <span>More</span>.</h1>
                <p>At Vertical Limit Academy, we inspire students to push beyond limits, discover their strengths, and develop the skills needed to excel in academics, leadership, and life.</p>
                <div class="cta">
                    <a href="#"><i class="fa-solid fa-school"></i> Apply Now</a>
                    <a href="#"><i class="fa-solid fa-book"></i> Schedule a Visit</a>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="../static/app.js" defer></script>
</html>